<h1 class="word"><%= @word.display_word %></h1>

<div class="col-lg-6">
  <button class="btn btn-lg btn-danger">✘ Reprovada</button>
  <button class="btn btn-lg btn-success">✔ Aprovada</button>
</div>
