<h1 class="word"><%= @word.display_word %></h1>

<div class="col-xs-6">
  <%= button("✔ Aprovada", to: page_path(@conn, :approve, @word.id), method: :post, class: "btn btn-lg btn-success") %>
</div>

<div class="col-xs-6">
  <%= button("✘ Reprovada", to: page_path(@conn, :reject, @word.id), method: :post, class: "btn btn-lg btn-danger") %>
</div>

<p>Ver definição de <%= link(@word.display_word, to: @definition_url) %></p>
